@using Eticaret.Entities
@model List<Slider>
<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            @foreach (var item in Model)
            {
                <li>
                    <img src="/img/@item.Image" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            @item.Header.ToUpper()
                        </h2>
                        <a class="caption button-radius" href="@item.Link"><span class="icon"></span>Shop now</a>
                    </div>
                </li>

            }


        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->